<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.dooribon">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DooRiBonAndroid">
        <activity android:name=".ui.signin.SignInActivity"/>
        <activity android:name=".ui.splash.SplashActivity">

        </activity>
        <activity android:name=".ui.existingtrip.ExistingTripActivity" >

        </activity>
        <activity android:name=".ui.triptendency.TripTendencyActivity" />
        <activity android:name=".ui.home.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.newtrip.add.DatePickActivity" />
        <activity android:name=".ui.newtrip.TravelPlanDoneActivity" />
        <activity android:name=".ui.newtrip.join.ParticipateActivity" />
        <activity
            android:name=".ui.newtrip.add.AddTravelActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity android:name=".ui.existingtrip.schedule.ScheduleAddActivity" />
        <activity android:name=".ui.existingtrip.schedule.ScheduleEditActivity" />
    </application>

</manifest>